CREATE TABLE rep_PS53_fam (
	repnro int NOT NULL ,
	ternro int NOT NULL ,
	familiar int NOT NULL ,
	parentesco varchar(40) NULL ,
	cuil varchar(30) NULL,
	nombre varchar(100) NULL,
	tiponrodoc varchar(50) NULL,
	fecnac datetime NULL ,
	sexo char(1) NULL,
	estadocivil varchar(30) NULL,
	incapacidad varchar(30) NULL,
	domcalle varchar(30) NULL,
	domnro varchar(8) NULL,
	dompiso varchar(8) NULL,
	domdepto varchar(8) NULL,
	domcodpost varchar(12) NULL,
	domlocalidad varchar(30) NULL,
	domprovinc varchar(20) NULL,
	telefono varchar(20) NULL,
	genderasigf char(1) NULL,
	escolaridad varchar(1) NULL,
	aniocursa varchar(8) NULL,
) ;
