CREATE TABLE rep_PS53 (
	repnro int IDENTITY (1, 1) NOT NULL ,
	empresa int NULL ,
	bpronro int NULL ,
	fecha datetime NULL ,
	hora varchar(10) NULL ,
	iduser varchar(20) NULL ,
	ternro int NULL ,
	abm char(1) NULL,
	repfecha datetime NULL ,
	cuit varchar(30) NULL,
	razonsocial varchar(60) NULL,
	cuil varchar(30) NULL,
	nombre varchar(100) NULL,
	tiponrodoc varchar(50) NULL,
	sexo char(1) NULL,
	fecnac datetime NULL ,
	estadocivil varchar(30) NULL,
	fecingreso datetime NULL ,
	domcalle varchar(30) NULL,
	domnro varchar(8) NULL,
	dompiso varchar(8) NULL,
	domdepto varchar(8) NULL,
	domcodpost varchar(12) NULL,
	domlocalidad varchar(30) NULL,
	domprovinc varchar(20) NULL,
	telefono varchar(20) NULL,
	oselegida varchar(30) NULL,
	dmtrcalle varchar(30) NULL,
	dmtrnro varchar(8) NULL,
	dmtrpiso varchar(8) NULL,
	dmtrdepto varchar(8) NULL,
	dmtrcodpost varchar(12) NULL,
	dmtrloc varchar(30) NULL,
	dmtrprov varchar(20) NULL,
	telefonolab varchar(20) NULL,
) ;
