CREATE TABLE rep117 (
	repnro int IDENTITY (1, 1) NOT NULL ,
	empresa int NOT NULL ,
	bpronro int NOT NULL ,
	Fecha datetime NOT NULL ,
	Hora varchar (10) NOT NULL ,
	iduser varchar (20) NOT NULL ,
	ternro int NOT NULL ,
	empdor_razsoc varchar(50) null,
	empdor_cuit varchar(13) null,
	empdor_poliza varchar(20) null,
	empdor_tel varchar(30) null,
	emp_apeynom varchar(50) null,
	emp_cuil varchar(13) null,
	emp_domi varchar(30) null,
	emp_localidad varchar(30) null,
	emp_codpostal varchar(10) null,
	emp_prov varchar(25) null,
	emp_tel varchar(20) null,
	emp_modrellab varchar(25) null,
	acc_nro varchar(30) null,
	acc_fecha datetime null,
	acc_fecalta datetime null,
	acc_fecreintdesde datetime null,
	acc_fecreinthasta datetime null,
	acc_diasbaja int null,
	acc_diasart int null,
	acc_fecingreso datetime null,
	det_mes_1 varchar (10) null,
	det_mes_2 varchar (10) null,
	det_mes_3 varchar (10) null,
	det_mes_4 varchar (10) null,
	det_mes_5 varchar (10) null,
	det_mes_6 varchar (10) null,
	det_mes_7 varchar (10) null,
	det_mes_8 varchar (10) null,
	det_mes_9 varchar (10) null,
	det_mes_10 varchar (10) null,
	det_mes_11 varchar (10) null,
	det_mes_12 varchar (10) null,
	det_anio_1 varchar (4) null,
	det_anio_2 varchar (4) null,
	det_anio_3 varchar (4) null,
	det_anio_4 varchar (4) null,
	det_anio_5 varchar (4) null,
	det_anio_6 varchar (4) null,
	det_anio_7 varchar (4) null,
	det_anio_8 varchar (4) null,
	det_anio_9 varchar (4) null,
	det_anio_10 varchar (4) null,
	det_anio_11 varchar (4) null,
	det_anio_12 varchar (4) null,
	det_importe_1 decimal (19,4) null,
	det_importe_2 decimal (19,4) null,
	det_importe_3 decimal (19,4) null,
	det_importe_4 decimal (19,4) null,
	det_importe_5 decimal (19,4) null,
	det_importe_6 decimal (19,4) null,
	det_importe_7 decimal (19,4) null,
	det_importe_8 decimal (19,4) null,
	det_importe_9 decimal (19,4) null,
	det_importe_10 decimal (19,4) null,
	det_importe_11 decimal (19,4) null,
	det_importe_12 decimal (19,4) null,
	det_dias_1 int null,
	det_dias_2 int null,
	det_dias_3 int null,
	det_dias_4 int null,
	det_dias_5 int null,
	det_dias_6 int null,
	det_dias_7 int null,
	det_dias_8 int null,
	det_dias_9 int null,
	det_dias_10 int null,
	det_dias_11 int null,
	det_dias_12 int null,

	mesesart int null,
	diasart int null,

	porcred decimal(19,4) null,
	porcjub decimal(19,4) null,
	porcasigfam decimal(19,4) null,
	porcfondonac decimal(19,4) null,
	porcinssjp decimal(19,4) null,
	porcos decimal(19,4) null,

	prenatal decimal(19,4) null,
	hijo decimal(19,4) null,
	hijodisc decimal(19,4) null,
	ayesc decimal(19,4) null,
	maternidad decimal(19,4) null,
	nacimiento decimal(19,4) null,
	adopcion decimal(19,4) null,
	matrimonio decimal(19,4) null,

	firmapenom varchar (50) null,
	firmtiponrodoc varchar (50) null,
	firmcargo varchar (50) null,
	firmlugar varchar (50) null
)

