.barraSuperior{ background-color: #4a4a4a;height: 20px; margin-bottom:-20px;  }
.form{ width: 950px; text-align: left; margin-left: auto;margin-right: auto; margin-top:15px; }
#botonera #superior{ background-repeat: no-repeat; background-image: url('../../Images/Botonera/newBotoneraSup.gif');
height: 6px; line-height: 1px; font-size: 1px; }
#botonera #medio{ background-repeat: repeat-y; background-image: url('../../Images/Botonera/newBotoneraMedio.gif'); 
height:10px; padding-top:2px; }
#botonera #inferior{ background-repeat: no-repeat; background-image: url('../../Images/Botonera/newBotoneraInf.gif');
height: 6px;  }
#contenido {margin-top: 10px; width: 950px;}
#Centro{ float: left; margin-left: 5px; }
#Menu1Izq #cuerpo  .separador{border-bottom: dotted 1px black; padding-top: 0px; font-size:1px;}
#Menu2Izq {margin-top: 15px;}
#centralArriba #medio{ background-repeat: no-repeat; background-color: white; margin-top: -1px;padding-left: 5px;  }
#centralArriba #medio .CentroArribaIzq{ background-repeat: no-repeat;background-color: #cccccc;margin: 5px;color: Red;padding: 5px 30px 5px 5px;font-size: 12px; font-family:arial;  }
#centralArriba #medio .CentroArribaDerTitulo{ background-repeat: no-repeat; background-color: #d9d9d9; margin: 5px;border-bottom: solid 1px white; color: red; padding: 5px; }
#centralArriba #medio .CentroArribaDerDescripcion{ margin-left: 5px; margin-right:5px;height: 262px; overflow: auto; font-size:11px; }
#centralArriba #medio .CentroArribaDerInfo{ background-repeat: no-repeat; background-color: #999999; margin:0px 5px 5px 5px;border-bottom: solid 1px white; color: white; text-align: right; font-size: 13px;padding: 5px; height: 15px; }
#centralArriba #inferior{ background-repeat: no-repeat; background-image: url('../../Images/Module/CentralInf.gif');
height: 8px; }

.listaLink{border:none;  width:270px; }
.listaLink option{ line-height: 30px; margin-bottom:10px; padding-top:5px; padding-bottom:5px; color:Red;font-weight: bold; background-color:#cccccc; }
 .listaLink option  .group {line-height: 30px; margin-bottom:10px; padding-top:5px; }
 


#Derecha { width: 170px; float: right; margin-left:5px; }
#login #superior{ background-repeat: no-repeat; background-image: url('../../Images/Login/newLoginSup.gif');
height: 9px; line-height: 1px; font-size: 1px; }
#login #medio{ background-repeat: no-repeat; background-color: #ee2e24; margin-top: -1px; padding-left:2px; height:170px; }
#login #medio label{ color: White; font-family: Arial; font-size: 18px; padding-left: 0px;text-decoration:none; }
#linkLogOff{ padding-top:90px; font-size:10px; }
#linkLogOff a { font-size:10px; }
#linkLogOff span a { text-decoration:none; font-size:10px !important; color:White;}
#Derecha #login #medio span{ color: White; font-family: Arial; font-size: 18px; text-decoration:none; }
.btnPolitic { padding-left: 0px; margin-left:0px;}
#login #inferior{ background-repeat: no-repeat; background-image: url('../../Images/Login/newLoginInf.gif');height: 9px; }
#Menu1Der{ margin-top: 15px; }
#Menu1Der #superior { background-repeat: no-repeat; background-image: url('../../Images/Message/DerSupGris1.gif');
height: 9px; line-height: 1px; font-size: 1px; }
#Menu1Der #medioTitulo{ background-repeat: no-repeat; background-color: #6f6f6f; height: 50px; }
#Menu1Der #medioTitulo span{ color: white;font-family: Arial;font-size: 18px;margin: 0 0 0 0;padding-left: 15px;  }
#Menu1Der #medioCuerpo{ background-repeat: no-repeat; background-color: #dedede;  height:101px; width:170px;}
#Menu1Der #medioCuerpo div{  width: 125px; margin-left: 15px; padding-top: 7px; padding-bottom: 5px; color: Red; font-family: Arial; font-size: 12px; font-weight: bold}
#Menu1Der #medioCuerpo div .descripcion{ color: Black; font-size: 10px; }
#Menu1Der #inferior{ background-repeat: no-repeat; background-image: url('../../Images/Message/DerInfGris1.gif');
height: 9px; }
.linksLogin { margin:10px 0px 0px 10px; font-size:10px;  }
.linksLogin span a {text-decoration:none; color:White; font-size: 10px !important;   }

.btnLoginOFF span {text-decoration:none; color:White; font-size: 10px !important;   }



 #Menu2Der{ margin-top: 12px; }
#Menu2Der #superior{ background-repeat: no-repeat; background-image: url('../../Images/Link/DerSupGris1.gif');
height: 9px; line-height: 1px; font-size: 1px;
}
#Menu2Der #medioTitulo{ background-repeat: no-repeat; background-color: #6f6f6f; height: 30px; }
#Menu2Der #medioTitulo span{ color: white;font-family: Arial;font-size: 18px;margin: 0 0 0 0;padding-left: 15px;  }
#Menu2Der #medioCuerpo{ background-repeat: no-repeat; background-color: #eeeeee; height:193px; }


#Menu2Der #medioCuerpo div{ width: 125px; margin-left: 15px; padding-bottom: 5px; color: Red; font-family: Arial; font-size: 12px; font-weight: bold }
#Menu2Der #medioCuerpo div .descripcion{ color: Black; font-size: 10px; text-decoration:none; }
#Menu2Der #inferior{ background-repeat: no-repeat; background-image: url('../../Images/Link/DerInfGris2.gif');
height: 9px; }

.ComboData { margin-left:0px; }
#footer{}

#footer #superior{background-repeat: no-repeat; background-image: url('../../Images/Footer/FootSup.gif');height: 8px; line-height: 1px; font-size: 1px; margin-top:15px;}
#footer #medio{ background-color:#ee2e24; color:White; font-family:Tahoma;height: 20px;}
#footer #medio .titulo{  padding:3px 0px 0px 10px; font-size:14px; }
#footer #medio .version{ font-size:9px;  padding-top:5px; padding-right:10px;}
#footer #inferior{background-repeat: no-repeat; background-image: url('../../Images/Footer/FootInf.gif');height: 9px; line-height: 1px; font-size: 1px;}
.imgBanner{ height:240px; width:150px;}
.inputs{ border: 1px solid #fff;background: white;height: 15px;width: 50px;border-color: #000;color: Red; }
.iframeCentral {margin: 10px 10px 0px 10px; width:600px; height:241px;}
.Combo input{ border-style: none;
    border-color: inherit;
    border-width: 0px;
    margin: 0;
background-image: url('../../Images/botonCombo.png');
background-position: left top;
    padding: 2px 0px 0px 8px;    font-size: 11px;    height: 17px;    width: 150px; }
.Combo button{ border: solid 1px white;height: 19px;width: 19px; }