<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections>
    <appSettings>
		<add key="1" value="Base 0 R3 ARG,2,0,-1"/>
		<add key="2" value="Base 0 R3 COL,12,0,0"/>
		<add key="3" value="Base 0 R3 URU,6,0,0"/>
		<add key="4" value="Base 0 R3 Oracle ARG,4,0,0,ORA"/>
		<add key="5" value="Base 0 R3 CHI,7,0,0"/>
		<add key="6" value="Base 0 R3 CR,22,0,0"/>
		<add key="7" value="Cocyf,24,0,0"/>
    <add key="8" value="Desa R3 Ora,5,0,0,ORA"/>
    	<add key="UsuESS" value="5F404F"/>
		<add key="PassESS" value="5F404F"/>
		<add key="EncrKy" value="56238"/>
		<add key="1es-AR" value="Usuario o contraseña incorrecta."/>
		<add key="1en-US" value="Username or password incorrect."/>
		<add key="1pt-BR" value="Nome de usuário ou senha incorreta."/>
		<add key="2es-AR" value="Usuario no válido."/>
		<add key="2en-US" value="Invalid user."/>
		<add key="2pt-BR" value="Utilizador inválido."/>
		<add key="3es-AR" value="Cuenta bloqueada. Consulte con el administrador."/>
		<add key="3en-US" value="Account locked. Check with the administrator."/>
		<add key="3pt-BR" value="Conta bloqueada. Verifique com o administrador."/>
		<add key="4es-AR" value="No se encontró la política de cuenta del usuario."/>
		<add key="4en-US" value="Not found the user's account policy."/>
		<add key="4pt-BR" value="Não encontrou política da conta do usuário."/>
		<add key="5es-AR" value="Cuenta bloqueada por intentos fallidos."/>
		<add key="5en-US" value="Account locked by failed attempts."/>
		<add key="5pt-BR" value="Conta bloqueada por tentativas falharam."/>
		<add key="6es-AR" value="Contraseña incorrecta."/>
		<add key="6en-US" value="Password incorrect."/>
		<add key="6pt-BR" value="Senha incorreta."/>
		<add key="7es-AR" value="Debe Cambiar su contraseña."/>
		<add key="7en-US" value="You must change your password."/>
		<add key="7pt-BR" value="Você deve alterar sua senha."/>
		<add key="8es-AR" value="Cuenta bloqueada. Plazo excedido sin loguearse."/>
		<add key="8en-US" value="Account locked. Deadline exceeded without login."/>
		<add key="8pt-BR" value="Conta bloqueada. Prazo excedido sem login."/>
		<add key="9es-AR" value="Cuenta bloqueada. Expiro su contraseña."/>
		<add key="9en-US" value="Account locked. Expired password."/>
		<add key="9pt-BR" value="Conta bloqueada. Senha expirada."/>
		<add key="10es-AR" value="Debe cambiar su contraseña."/>
		<add key="10en-US" value="You must change your password."/>
		<add key="10pt-BR" value="Você deve alterar sua senha."/>
		<add key="11es-AR" value="La confirmación de la contraseña no es coincidente."/>
		<add key="11en-US" value="The password confirmation is not consistent."/>
		<add key="11pt-BR" value="A confirmação da senha não é consistente."/>
		<add key="12es-AR" value="Usuario no válido."/>
		<add key="12en-US" value="Invalid user."/>
		<add key="12pt-BR" value="Utilizador inválido."/>
		<add key="13es-AR" value="Cuenta bloqueada. Consulte con el administrador."/>
		<add key="13en-US" value="Account locked. Check with the administrator."/>
		<add key="13pt-BR" value="Conta bloqueada. Verifique com o administrador."/>
		<add key="14es-AR" value="No se encontró la política de cuenta del usuario."/>
		<add key="14en-US" value="Not found the user's account policy."/>
		<add key="14pt-BR" value="Não encontrou política da conta do usuário."/>
		<add key="15es-AR" value="Cuenta bloqueada por intentos fallidos."/>
		<add key="15en-US" value="Account locked by failed attempts."/>
		<add key="15pt-BR" value="Conta bloqueada por tentativas falharam."/>
		<add key="16es-AR" value="Contraseña incorrecta."/>
		<add key="16en-US" value="Password incorrect."/>
		<add key="16pt-BR" value="Senha incorreta."/>
		<add key="17es-AR" value="No se permite contraseña en blanco."/>
		<add key="17en-US" value="No blank password is allowed."/>
		<add key="17pt-BR" value="Não passe em branco é permitido."/>
		<add key="18es-AR" value="La longitud mínima es de "/>
		<add key="18en-US" value="The minimum length is "/>
		<add key="18pt-BR" value="A duração mínima é de "/>
		<add key="19es-AR" value=" caracteres."/>
		<add key="19en-US" value=" characters."/>
		<add key="19pt-BR" value=" caracteres."/>
		<add key="20es-AR" value="La Contraseña coincide con una histórica."/>
		<add key="20en-US" value="The password matches a history."/>
		<add key="20pt-BR" value="A senha corresponde a uma história."/>
		<add key="TEDesc1" value="Empresa"/>
		<add key="TEDesc2" value="Sucursal"/>
		<add key="TEDesc3" value="Puesto"/>
		<add key="TENRO1" value="10"/>
		<add key="TENRO2" value="1"/>
		<add key="TENRO3" value="4"/>
		<add key="SCHEMA4" value="BASE0"/>
    <add key="SCHEMA5" value="DESAORA"/>
            
		<add key="LDAP_UseAuthentication" value="false"/>
		<add key="LDAP_Service" value="eDirectory"/>
		<add key="LDAP_Server" value="RHPROD2"/>
		<add key="LDAP_Port" value="389"/>
		<add key="LDAP_SecureConnection" value="true"/>
		<add key="LDAP_SecurePort" value="636"/>
		<add key="LDAP_CheckCertificate" value="false"/>
		<add key="LDAP_GroupName" value="RHPRO_Grupo"/>
		<add key="LDAP_MembershipAttributeName" value="groupMembership"/>
		<add key="LDAP_DNFormat" value="cn=USR,ou=Ventas,o=AdminCtx;
                                    cn=USR,ou=Recursos Humanos,o=AdminCtx;
                                    cn=USR,ou=Compras,o=AdminCtx"/>
            
	</appSettings>
	<connectionStrings>
		<add name="12" connectionString="Provider=SQLOLEDB.1;Data Source=RHPROD2\RHPROSQL2005;Initial Catalog=Base_0_R3_COL;"/>
		<add name="2" connectionString="Provider=SQLOLEDB.1;Data Source=rhprod2\RHPROSQL2005;Initial Catalog=Base_0_R3_ARG;"/>
		<add name="4" connectionString="Provider=MSDAORA.1;Data Source=rhprox2;"/>
    <add name="5" connectionString="Provider=MSDAORA.1;Data Source=rhprox2;"/>
		<add name="6" connectionString="Provider=SQLOLEDB.1;Data Source=rhprod2\RHPROSQL2005;Initial Catalog=Base_0_R3_URU;"/>
		<add name="7" connectionString="Provider=SQLOLEDB.1;Data Source=rhprod2\RHPROSQL2005;Initial Catalog=Base_0_R3_CL;"/>
		<add name="22" connectionString="Provider=SQLOLEDB.1;Data Source=RHPROD2\RHPROSQL2005;Initial Catalog=Base_0_R3_CR;"/>
		<add name="24" connectionString="Provider=SQLOLEDB.1;Data Source=RHPROD2\RHPROSQL2005;Initial Catalog=Cocyf;"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
		<authentication mode="Windows"/>
    <identity impersonate="true"/>
		<!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules></system.web>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
	<system.webServer>
			<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding></runtime></configuration>
