<?xml version="1.0"?>
<!--
01/03/2013 - Lisandro Moro - Se agrego UsuSUP y PassSUP en reemplazo a c_x3 y 4 y se levanta c_seed 
27/05/2013 - Juan Pablo Brzozowski - CAS-19293 - SIDERSA - Error en instalacion multiidioma - Se modificó en la documentacion la configuracion de los tipos de base (MSSQL y ORA).
27/06/2013 - Lisandro Moro - 20108 - Se agrego MotorSUP : 1 = Todo (Crea usuarios a nivel motor) - 0 = Restringido(Solo cambio de clave)
09/08/2013 - Lisandro Moro - 20108 - Se nivelaron comentarios.
03/09/2013 - Carlos Masson - 20566 - Cargil
-->
<configuration>

	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections>
<!-- Ayuda para la configuración (Parametros de AppSettings):
		
			<add key="1" value="Nombre de base,2,0,-1" />
			'FORMATO DEL COMBO: Descripcion, base, seguridad, seleccionada
			
			<add key="Params_2" value="TipoBD,VersionBD,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
			'FORMATO DE PARAMETROS: Tipo de la base, versión del motor, ROLE, SCHEMA, TableSpace, TempTableSpace
			
			donde TipoBD = DB2 - Informix - SQLServer - Oracle
				y VersionBD 
						'SQL = 2012 - 2008 - 2008r2 - 2005 - 2000 - 7.0 - 6.5 - 
						'Oracle = 11gr2 - 11g - 10g - 9ir2 - 9ir1 - 8ir2
		
		Configuración del usuario supervisor (administrador de base y usuarios a nivel de motor)
			UsuSUP: Nombre del usuario administrador (encriptado)		
			PassSUP: Password del usuario (encriptado)
			PassSUPExpr: Expresión regular para la generación de contraseña
					Valores de la expresion regular:
						A: Reemplaza el caracter de la expresión por una letra mayúscula
						a: Reemplaza el caracter de la expresión por una letra minúscula
						#: Reemplaza el caracter de la expresión por un número
						$: Reemplaza el caracter de la expresión por un símbolo ( $ @ - _ )
						@: Reemplaza el caracter de la expresión por uno al azar
						!: Si se especifica este caracter al inicio de la expresión se verifica que el resultado contenga al menos una letra mayúscula
			ResetPassSUPInterval: Intervalo en cantidad de dias en el que se debe refrescar el password del administrador (si es menor que 0 no se ejecuta la actualización de password)
			LastResetPassSUP: Fecha de la última actualización de password (encriptado)	
	                ReportEvents: Genera un evento en el log de eventos del sistema (visor de eventos de windows) por lo que permite hacer una traza de las acciones ejecutadas. Valores posibles:
						"none": no genera eventos (valor por defecto)
						"all": genera todos los eventos habilitados internamente
						"error": genera eventos correspondientes a errores
						//Nota para generar determinados eventos (si se conoce el código) se puede especificar una lista. por ejemplo "120,505,478"
-->
	
    <appSettings>
		<add key="Params_0" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
		
	    <add key="1" value="Base R4 ARG Multiidioma,2,0,-1" />
		<add key="Params_2" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />

		<add key="2" value="Chile R4 (Novartis P1),12,0,0" />
		<add key="Params_12" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
		
		<add key="3" value="Perú R4 (Novartis P1),3,0,0" />
		<add key="Params_3" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />

		<add key="4" value="Venezuela R4 (Novartis P1),4,0,0" />
		<add key="Params_4" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />

		<add key="5" value="Paraguay R4,6,0,0" />
		<add key="Params_6" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
		
		<add key="6" value="INDAP,30,0,0" />
		<add key="Params_30" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
		
		<add key="7" value="Apex PY,7,0,0" />
		<add key="Params_7" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
		
		<add key="8" value="NGA – Portugal,26,0,0" />
		<add key="Params_26" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />		
	
		<add key="9" value="Base R3 ARG SI Multiidioma,22,-1,0" />
		<add key="Params_22" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
		
		<add key="10" value="Base R4 T,27,0,0" />
		<add key="Params_27" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	

		<add key="11" value="AGDr3,31,0,0" />
		<add key="Params_31" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
		
		<add key="12" value="PERU R4 DESA,29,0,0" />
		<add key="Params_29" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />

		<add key="13" value="Bolivia R4 DESA,16,0,0" />
		<add key="Params_16" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
		
		<add key="14" value="TestR4 de RHDESA2,77,0,0" />
		<add key="Params_77" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	
		
		<add key="15" value="Base_0_R4_Nueva de RHDESA4 ,78,0,0" />
		<add key="Params_78" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	
		 
		<add key="16" value="Oracle SOSR3,28,0,0,ORA" /> 
		<add key="Params_28" value="ORA,11g,RHPROX2,SOSR3,SOS_DAT,TEMP" />
		<!--add key="Params_28" value="ORA,11g,RRHHX2,SOSR3,TEMPORARY_DATA,RHPROX2" /-->
		
		<add key="17" value="Des_r3,11,0,0"/>
		<add key="Params_11" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />
		
		<add key="18" value="Base ARG COPIA,32,0,0" />
		<add key="Params_32" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	  	
	  
  	    <add key="19" value="RHProERecruiting,33,0,0" />
		<add key="Params_33" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	
		
		<add key="20" value="Base 0 R4,34,0,0" />
		<add key="Params_34" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	
		
		<add key="21" value="Althaus R4,35,0,0" />
		<add key="Params_35" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	

		<add key="22" value="IBT R4,36,0,0" />
		<add key="Params_36" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	
		
		<add key="23" value="BASE_0_R4 de RHDESA4,37,0,0" />
		<add key="Params_37" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	
		
		<add key="24" value="BASE_0_R4_Nueva de RHDESA4,38,0,0" />
		<add key="Params_38" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	

		<add key="25" value="Base0XXXXXXXXXXXXXXX,80,0,0" />
		<add key="Params_80" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	
  
		<add key="29" value="Real_Chile,83,0,0" />
		<add key="Params_83" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />	

		<add key="30" value="Real_Colombia,84,0,0" />
		<add key="Params_84" value="MSSQL,2008r2,RHPROX2,RHProX2,TABLESPACE,TEMPORARY_DATA" />


  
		<add key="UsuESS" value="5F404F" />
		<add key="PassESS" value="5F404F" />	
		<add key="UsuSUP" value="5F404F" />
		<add key="PassSUP" value="5F404F" />	
		<add key="PassSUPExpr" value="!@@@@@@@@@" />
  		<add key="ResetPassSUPInterval" value="-1" />
  		<add key="LastResetPassSUP" value="0A001175777A62695368" />
		<add key="EncrKy" value="56238" />
		<add key="MotorSUP" value="1" /><!-- MotorSUP: 1 = Todo (Crea usuarios a nivel motor) - 0 = Restringido(Solo cambio de clave)-->

		<!--add key="UsuESS_28" value="697C6F177D"/-->
		<!--add key="PassESS_28" value="697C6F177D"/-->
 

       <!--SOLO SE DEBEN CONFIGURAR LAS ETIQUETAS EN es-AR | SE RESUELVE TRADUCCION POR BD /-->
        <add key="0es-AR" value="Faltan claves asociadas al usuario supervisor en el archivo de configuración, o existen problemas en las mismas." />
		<add key="1es-AR" value="Usuario o contraseña incorrecta." />
        <add key="2es-AR" value="Usuario no válido." />
        <add key="3es-AR" value="Cuenta bloqueada. Consulte con el administrador." />
        <add key="4es-AR" value="No se encontró la política de cuenta del usuario." />
        <add key="5es-AR" value="Cuenta bloqueada por intentos fallidos." />
        <add key="6es-AR" value="Contraseña incorrecta." />
        <add key="7es-AR" value="Debe Cambiar su contraseña." />
        <add key="8es-AR" value="Cuenta bloqueada. Plazo excedido sin loguearse." />
        <add key="9es-AR" value="Cuenta bloqueada. Expiro su contraseña." />
        <add key="10es-AR" value="Debe cambiar su contraseña." />
        <add key="11es-AR" value="La confirmación de la contraseña no es coincidente." />
        <add key="12es-AR" value="Usuario no válido." />
        <add key="13es-AR" value="Cuenta bloqueada. Consulte con el administrador." />
        <add key="14es-AR" value="No se encontró la política de cuenta del usuario." />
        <add key="15es-AR" value="Cuenta bloqueada por intentos fallidos." />
        <add key="16es-AR" value="Contraseña incorrecta." />
        <add key="17es-AR" value="No se permite contraseña en blanco." />
        <add key="18es-AR" value="La longitud mínima es de " />
        <add key="19es-AR" value=" caracteres." />
        <add key="20es-AR" value="La Contraseña coincide con una histórica." />
		<add key="21es-AR" value="La Contraseña debe contener caracteres especiales." />		
		<add key="22es-AR" value="La Contraseña debe contener al menos una letra mayuscula." />
		<add key="23es-AR" value="La Contraseña debe contener al menos una letra minuscula." />		
		<add key="24es-AR" value="La Contraseña debe contener al menos un número." />		

     
		<add key="TEDesc1" value="La Empresa" />
		<add key="TEDesc2" value="La Sucursal" />
		<add key="TEDesc3" value="El Puesto" />
		<add key="TENRO1" value="10" />
		<add key="TENRO2" value="1" />
		<add key="TENRO3" value="4" />
      
		<add key="LDAP_UseAuthentication" value="false" />
		<add key="LDAP_Service" value="eDirectory" />
		<add key="LDAP_Server" value="testathon.net" />
		<add key="LDAP_Port" value="389" />
		<add key="LDAP_SecureConnection" value="false" />
		<add key="LDAP_SecurePort" value="636" />
		<add key="LDAP_CheckCertificate" value="false" />
		<add key="LDAP_GroupName" value="stuart" />
		<add key="LDAP_MembershipAttributeName" value="givenName" />
		<add key="LDAP_DNFormat" value="CN=USR,OU=users,DC=testathon,DC=net" />

		<add key="LDAP_SearchBase" value="DC=testathon,DC=net" />
		<add key="LDAP_FilterClass" value="inetOrgPerson" />
		   
   
     <!--add key="SCHEMA4" value="ORAR3"/-->
	 <!--add key="SCHEMA99" value="LACAJAR3"/-->
	 <add key="SCHEMA28" value="SOSR3"/>
	 <add key="SCHEMA4" value="SOSR3"/>

   </appSettings>

	<connectionStrings>
		<add name="2" connectionString="Provider=SQLOLEDB.1;Data Source=RHDESA;Initial Catalog=BASE_0_R3_ARG;Persist Security Info=True;" />
		<!--add name="2" connectionString="Provider=SQLNCLI10.1;Data Source=RHDESA;Initial Catalog=BASE_0_R3_ARG;Persist Security Info=True" /-->
		<add name="3" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=R4_peru;" />
		<add name="4" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=R4_venezuela;" />
		<add name="6" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=R4_Paraguay;" />
		<add name="7" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=Apex_PY;" />
		<add name="11" connectionString="Provider=SQLOLEDB.1;Data Source=RHdesa;Initial Catalog=Des_r3;Persist Security Info=True;"/>
		<add name="12" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=R4_Chile;" />
		<add name="16" connectionString="Provider=SQLOLEDB.1;Persist Security Info=False;Data Source=RHDESA;Initial Catalog=BASE_0_R3_BOL;" />
		<add name="22" connectionString="Provider=SQLOLEDB.1;Persist Security Info=False;Data Source=RHDESA;Initial Catalog=BASE_0_R3_ARG;" />
		<add name="24" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=Base_0_R3_BR;" />
		<add name="26" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=Northgate_Arinso_PT;" />
		<!--add name="27" connectionString="Provider=SQLOLEDB.1;Data Source=RHDESA;Initial Catalog=BASE_0_R4;" /-->
		<add name="27" connectionString="Provider=SQLOLEDB.1;Data Source=RHDESA2;Initial Catalog=TestR4;" />
		<add name="28" connectionString="Provider=OraOLEDB.Oracle.1;Persist Security Info=true; Data Source=rhoracle/SOSR3;" />		
		<add name="30" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=INDAP;" />
		<add name="31" connectionString="Provider=SQLOLEDB.1;Data Source=RHDESA;Initial Catalog=AGDR3;Persist Security Info=True;" />
		<add name="29" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=Desa_R4_Peru;" />
		<add name="32" connectionString="Provider=SQLOLEDB.1;Data Source=RHDESA;Initial Catalog=BASE_0_R3_ARG_COPIA;" />	
		<add name="33" connectionString="Provider=SQLOLEDB.1;Password=ess;Persist Security Info=True;User ID=ess;Initial Catalog=E_Recruiting_RhPro;Data Source=RHDESA;" />
		<add name="34" connectionString="Provider=SQLOLEDB.1;Password=ess;Persist Security Info=True;User ID=ess;Initial Catalog=base_0_r4;Data Source=RHDESA;" />
		<add name="35" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=R4_Althaus;" />
		<add name="36" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHDESA;Initial Catalog=IBT_R4;" />
		<add name="77" connectionString="Provider=SQLOLEDB.1;Data Source=RHDESA2;Initial Catalog=TestR4;" />
		<add name="78" connectionString="Provider=SQLOLEDB.1;Data Source=RHDESA4;Initial Catalog=BASE_0_R4_Nueva;" />

		<add name="83" connectionString="Provider=SQLOLEDB.1;Data Source=rhdesa;Initial Catalog=Real_Chile;" />
		<add name="84" connectionString="Provider=SQLOLEDB.1;Data Source=rhdesa;Initial Catalog=Real_Colombia;" />

		<add name="37" connectionString="Provider=SQLOLEDB.1;Data Source=RHDESA4;Initial Catalog=BASE_0_R4;" />
		<add name="38" connectionString="Provider=SQLOLEDB.1;Data Source=RHDESA4;Initial Catalog=BASE_0_R4_Nueva;" />
		<add name="80" connectionString="Provider=SQLOLEDB.1;Data Source=rhdesa2;Initial Catalog=80-HA-R3++;" />
		<!--add name="4" connectionString="Provider=OraOLEDB.Oracle.1;Password=ORAR3;Persist Security Info=True;User ID=ORAR3;Data Source=RHPROR3V0;" /-->
		<!--add name="99" connectionString="Provider=OraOLEDB.Oracle.1;Password=LACAJAR3;User ID=LACAJAR3;Persist Security Info=True;Data Source=RHORACLE/LACAJA;" /-->
		<!--add name="99" connectionString="Provider=OraOLEDB.Oracle.1;Persist Security Info=True;Data Source=RHORACLE/LACAJA;" /-->
 		<!--add name="7" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=rhsrvbb;Initial Catalog=DES_R3_URU;" /-->
		<!--add name="12" connectionString="Provider=SQLOLEDB.1;Data Source=RHSRVBB;Initial Catalog=DES_r3_COL;" /-->
		<!--add name="22" connectionString="Provider=SQLOLEDB.1;Data Source=RHSRVBB;Initial Catalog=Base_0_R3_ARG;" /-->
		<!--add name="23" connectionString="Provider=SQLOLEDB.1;Data Source=RHSRVBB;Initial Catalog=MRoma;" /-->
		<!--add name="10" connectionString="Provider=SQLOLEDB.1;Data Source=RHSRVBB;Initial Catalog=BASE0_R3_ARG_old;" /-->
		<!--add name="11" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=rhdesa;Initial Catalog=Des_r3;" /-->
			 
		<!--add name="3" connectionString="Provider=SQLOLEDB.1;Persist Security Info=True;Data Source=RHSRVBB;Initial Catalog=sykes_CR;" /-->
		<!--add name="13" connectionString="Provider=SQLOLEDB.1;Data Source=RHSRVBB;Initial Catalog=DES_r3_CL;" /-->

	</connectionStrings>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
 
    <identity impersonate="true"/>
		<sessionState mode="InProc" timeout="1000"/>
		<!--sessionState mode="StateServer"
	 stateConnectionString="tcpip=127.0.0.1:42424"
	 cookieless="true"
	 timeout="20"/-->
		<!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules></system.web>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
	<system.webServer>
			<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding>
	 	
	</runtime>
</configuration>
