<?xml version="1.0"?>
<appSettings>
  <add key="CantidadMRUsVisibles" value="20" />
  <add key="EncriptUserData" value="false" />
  <add key="EncryptionKey" value="56238" />
  <add key="Mailto" value="soporte@rhpro.com.ar" />
  <add key="Time" value="300" />
  <add key="RootImagenes" value="./Images/Banner/" />
  <add key="RootWS" value="http://rhdesa:4000/Ws/Consultas.asmx" />   
  <add key="NetToAsp" value="true" />
  <!--<add key="Idioma" value="es-AR" />-->
 <add key="Idioma" value="es-AR,Espa&ntilde;ol-Latam, ARGENTINA" />  
 
 
    
  <add key="EnableES" value="false" />
  <add key="EnableAR" value="true" />
  <add key="EnablePE" value="true" />
  <add key="EnableEN" value="true" />
  <add key="EnablePT" value="true" />
  <add key="EnableBR" value="true" />
  <add key="EnableIntegrateSecurity" value="false" />
  <add key="LDAP_UseAuthentication" value="false" />
  
  <add key="DatabaseSelectionMethod" value="C" />
  
  <add key="OrdenBasesCreciente" value="false" />

  <add key="VisualizarModulosInhabilitados" value="true" />  
  <add key="VisualizarLogo" value="true" />
  <add key="VisualizarImgContenedorPpal" value="true" />
  <add key="VisualizarFooter" value="true" />   
  <add key="VisualizarComplementos" value="true" />  
  
  <add key="urlLogo" value="img/logoRHPRO.png" />    
  <add key="ImgContenedorPpal" value="img/Corporativas/CapitalHumano.png" />  
  <add key="AccesosHomeXML" value="Accesos_Home.xml" /> 
  
  <!-- El tiempo de refresco es el que espera el sitio para realizar un refresco (en segundos)-->
  <add key="TiempoRefresco" value="120" />  
  <add key="TiempoRefrescoActivo" value="false" />  
  
</appSettings>