<?xml version="1.0"?>
<appSettings >
  <!-- Canitdad de MRUs a visualizar -->
  <add key="CantidadMRUsVisibles" value="100"/>

  <!-- Habilita o desahbilita la encriptacion de datos del usuario -->
  <add key="EncriptUserData" value="false"/>

  <!-- Key con el cual se van a encriptar los datos del usuario en caso de que la misma este habilitada -->
  <add key="EncryptionKey" value="56238"/>

  <!-- Direccion de mail -->
  <add key="Mailto" value="soporte@rhpro.com.ar"/>

  <!-- Tiempo de refresco del banner en segundo-->
  <add key="Time" value="30"/>

  <!-- Ruta de la carpeta de las imagenes-->
  <add key="RootImagenes" value="./Images/Banner/" />

  <!-- Ruta del WS-->
  <!--add key="RootWS" value="http://prueba.rhpro.com.ar:83/ws/Consultas.asmx" /-->
  <add key="RootWS" value="http://rhprod2:9060/ws/Consultas.asmx" />

  <!-- Copiar las variables de session de .net a asp ( true o false  ) -->
  <add key="NetToAsp" value="false" />

  <!-- Idioma por defecto  (pt-BR : portugues, en-US: ingles, es-AR: español -->
  <add key="Idioma" value="es-AR" />

  <!-- Habilitar el idioma Español -->
  <add key="EnableES" value="true" />

  <!-- Habilitar el idioma Ingles -->
  <add key="EnableEN" value="true" />

  <!-- Habilitar el idioma Portugues -->
  <add key="EnablePT" value="true" />

  <!-- Habilitar la seguridad integrada-->
  <add key="EnableIntegrateSecurity" value="false"/>

  <!-- Habilitar validación de usuario por LDAP-->
  <add key="LDAP_UseAuthentication" value="false"/>

  <!-- Método de selección de base de datos-->
  <add key="DatabaseSelectionMethod" value="C"/>  

</appSettings>