<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <sectionGroup name="system.serviceModel">
            <section name="domainServices" 
                     type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
                     allowDefinition="MachineToApplication" 
                     requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<!-- dirección del WebService para consumir los datos -->
		<add key="remoteAddressService" value="http://rhdesa:4000/ws/consultas.asmx" />
		<!-- dirección URL para la descarga de imágenes de empleados -->
		<add key="imagePath" value="http://rhdesa:4000/rhprox2/fotos/" />
		<!-- habilita el titulo para cada sección del tipo de estructura de rhpro -->
		<add key="showTitles" value="true" />
		<add key="TEDesc1" value="Empresa" />
		<add key="TEDesc2" value="Sucursal" />
		<add key="TEDesc3" value="Puesto" />
		<add key="TENRO1" value="10" />
		<add key="TENRO2" value="1" />
		<add key="TENRO3" value="4" />
	</appSettings>
	<system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="DomainServiceModule" 
                 preCondition="managedHandler"
                 type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </modules>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <system.web>
        <httpModules>
            <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </httpModules>
        <compilation debug="true" />
      <httpRuntime executionTimeout="1600" />
    </system.web>
    <system.serviceModel>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                                 multipleSiteBindingsEnabled="true" />
        <bindings>
            <basicHttpBinding>
                <binding name="ConsultasSoap" maxBufferSize="99000000" maxReceivedMessageSize="99000000">
                  <readerQuotas maxDepth="900000" maxStringContentLength="900000" maxArrayLength="900000" maxBytesPerRead="900000" maxNameTableCharCount="900000" />
                </binding>
            </basicHttpBinding>
        </bindings>
		<client>
          <endpoint address="http://rhdesa:4100/ws/consultas.asmx" binding="basicHttpBinding" bindingConfiguration="ConsultasSoap" contract="OrgService.ConsultasSoap" name="ConsultasSoap" />
        </client>
    </system.serviceModel>
</configuration>
