<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  
  <!-- dirección del WebService para consumir los datos -->
  <add key="remoteAddressService" value="http://rhdesa:4000/ws/consultas.asmx" />

  <!-- dirección URL para la descarga de imágenes de empleados -->
  <add key="imagePath" value="http://rhdesa:4000/rhprox2/fotos/" />
  
  <!-- habilita el titulo para cada sección del tipo de estructura de rhpro -->
  <add key="showTitles" value="true" />

  <!--
  <add key="TEDesc1" value="Sucursal" />
  <add key="TEDesc2" value="Sucursal" />
  <add key="TEDesc3" value="Contrato" />
  <add key="TEDesc4" value="Puesto" />
  <add key="TENRO1" value="4" />
  <add key="TENRO2" value="4" />
  <add key="TENRO3" value="18" />
  -->
  
</appSettings>