if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[mega_alarmas]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[mega_alarmas]
GO

CREATE TABLE [dbo].[mega_alarmas] (
	[alarnro] [int] IDENTITY (1, 1) NOT NULL ,
	[estrnro] [int] NOT NULL ,
	[alarfecha] [datetime] NOT NULL ,
	[alarhora] [varchar] (8) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[alaractivada] [smallint] NOT NULL 
) ON [PRIMARY]
GO

