<?xml version="1.0" encoding="ISO-8859-1"?>
<appSettings>
  <!-- Canitdad de MRUs a visualizar -->
  <add key="CantidadMRUsVisibles" value="20" />
  <!-- Habilita o desahbilita la encriptacion de datos del usuario -->
  <add key="EncriptUserData" value="false" />
  <!-- Key con el cual se van a encriptar los datos del usuario en caso de que la misma este habilitada -->
  <add key="EncryptionKey" value="56238" />
  <!-- Direccion de mail -->
  <add key="Mailto" value="soporte@rhpro.com.ar" />
  <!-- Tiempo de refresco del banner en segundo-->
  <add key="Time" value="1000" />
  <!-- Ruta de la carpeta de las imagenes-->
  <add key="RootImagenes" value="./Images/Banner/" />
  <!-- Ruta del WS-->
  <add key="RootWS" value="http://localhost:4100/wsR4/consultas.asmx" > 
  </add>
  <!-- Copiar las variables de session de .net a asp ( true o false  ) -->
  <add key="NetToAsp" value="true" />
  <!--add key="Idioma" value="es-AR,Esp-Latam, ARGENTINA" /-->
  <add key="Idioma" value="es-AR,Español - Latam, ARGENTINA" />
  <add key="EnableES" value="true" />
  <add key="EnableAR" value="true" />
  <add key="EnablePE" value="true" />
  <add key="EnableEN" value="true" />
  <add key="EnablePT" value="true" />
  <add key="EnableBR" value="true" />
  <!-- Habilitar seguridad integrada -->
  <add key="EnableIntegrateSecurity" value="false">
  </add>
  <add key="LDAP_UseAuthentication" value="false" />
  <add key="DatabaseSelectionMethod" value="C" />
  <add key="OrdenBasesCreciente" value="false" />
  <add key="VisualizarModulosInhabilitados" value="true" />
  <add key="VisualizarLogo" value="true" />
  <add key="VisualizarImgContenedorPpal" value="false" />
  <add key="VisualizarFooter" value="true" />
  <add key="VisualizarComplementos" value="true" />
  <add key="urlLogo" value="img/logoRHPRO_X2Blanco.png" />
  <add key="ImgContenedorPpal" value="img/Corporativas/CapitalHumano.png" />
  <add key="AccesosHomeXML" value="Accesos_Home.xml" />
  <!-- Nombre del Cliente al que pertenece el home. Se utiliza para describir la politica del sitio -->
  <add key="NombreCliente" value="RHPro" />
  <!-- Version de motores Javascript no compatibles pero controlados-->
  <add key="Motores_JS_Controlados" value="Trident/3.1;Trident/4.0" />
  <!-- Slogan del cliente -->
  <add key="SloganCliente" value="" />
  <add key="NombreDeEmpresa" value="Heidt y Asociados S.A." />
  <add key="DireccionEmpresa" value="Suipacha 72 - 4to A CP C1008AAB - Buenos Aires Argentina." />
  <add key="TelefonoMailEmpresa" value="Tel./Fax: +54 11 5252 7300 Email: soporte@rhpro.com" />
  <!-- El tiempo de refresco es el que espera el sitio para realizar un refresco (en segundos)-->
  <add key="TiempoRefresco" value="120" />
  <add key="TiempoRefrescoActivo" value="false" />
  <!-- Tipo de ordenamiento de los modulos(1:MRU + Ponderacion + Alfabeticamente , 2:Ponderacion + Alfabeticamente , 3:Solo Alfabeticamente)-->
  <add key="Tipo_Ordenamiento_Modulos" value="3" />
  <!-- META_HOME: Configuraciones -->
  <!-- Determina si se utiliza el home en modalidad SaaS -->
  <add key="Meta_ModalidadSaaS" value="false" />
  <!-- Determina el tipo de filtrado en el login (en modalidad SaaS) -->
  <!-- 1:Por URL, 2:Por URL y Usuario -->
  <add key="Meta_TipoFiltroLogin" value="2" />
  <!-- Determina si se utiliza el registro de usuarios logueados (en modalidad SaaS) -->
  <add key="Meta_RegistraLogin" value="false" />
  <!-- Determina la URL para levantar el webservice del metahome (en modalidad SaaS) -->
  <add key="RootWS_MetaHome" value="http://rhdesa:4002/wsExt/MH_Externo.asmx" /> 
  <!--Se usa para asociar gadget en el primer acceso -->
  <add key="Controlar_Primer_Acceso" value="true" />
  <!--Indica la cantidad de dias que una determinadad IP esta bloqueada -->
  <add key="DiasBloqueo" value="1" />

  <!--Tiempo de conexion para el ws_ext -->
  <add key="Conf_TiempoConexion" value="2000" />
  <!--Tiempo de procesamiento de los metodos del ws_ext -->
  <add key="Conf_TiempoProcesamiento" value="18000" />


</appSettings>