CREATE TABLE rep03 (
	repnro int IDENTITY (1, 1) NOT NULL ,
	pliqnro int NOT NULL ,
	pronro int NOT NULL ,
	empresa int NOT NULL ,
	proaprob int NOT NULL ,
	bpronro int NOT NULL ,
	Fecha datetime NOT NULL ,
	Hora varchar (10) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	iduser varchar (20) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	ternro int NOT NULL ,
	osocial int NOT NULL ,
	cuil varchar (15) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	plan_valorizado decimal(19, 4) NOT NULL ,
	bruto decimal(19, 4) NOT NULL ,
	msr decimal(19, 4) NOT NULL ,
	empleado decimal(19, 4) NOT NULL ,
	empleador decimal(19, 4) NOT NULL ,
	adicional decimal(19, 4) NOT NULL ,
	anssal_empleado decimal(19, 4) NOT NULL ,
	anssal_empleador decimal(19, 4) NOT NULL ,
	diferencia_empleado decimal(19, 4) NOT NULL ,
	empdo_subtotal decimal(19, 4) NOT NULL ,
	empdor_subtotal decimal(19, 4) NOT NULL ,
	os_totdep decimal(19, 4) NOT NULL ,
	anssal_totdep decimal(19, 4) NOT NULL ,
	totdep decimal(19, 4) NOT NULL ,
	adi_mas_plaval decimal(19, 4) NOT NULL ,
	empdo_menos_anssal decimal(19, 4) NOT NULL ,
	empdor_menos_anssal decimal(19, 4) NOT NULL ,
	neto decimal(19, 4) NOT NULL ,
	dif_os decimal(19, 4) NOT NULL ,
	dif_empdor decimal(19, 4) NOT NULL ,
	ordenrep int NULL ,
)

